.container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
.container__header {
  display: flex;
  flex-direction: column;
}
.container__title {
  align-self: center;
  text-align: center;
  margin: 0.4em auto;
  font-size: 2rem;
  box-shadow: 2px 2px var(--shadow);
  border-radius: 20px;
}
.container__images {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 4em;
}
.container__image {
  display: flex;
  justify-content: center;
  aspect-ratio: 1/1;
  width: clamp(20em, 30vw, 33em);

  border-radius: 50%;
  margin: 0.4em;
}
.container__image__img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 6px 6px 6px 6px var(--shadow);
}

@media (max-width: 1422px) {
  .container__images {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin: 4em;
  }
}
