.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 100dvh;
}
.container__header {
  display: flex;
  flex-direction: column;
}
.container__title {
  align-self: center;
  text-align: center;
  margin: 0.4em auto;
  font-size: 2rem;
  box-shadow: 2px 2px var(--shadow);
  border-radius: 20px;
}
.container__images {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 6em;
}
.container__image {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin: 0.4em;
  width: clamp(14em, 25vw, 23em);
  /* width: 22em; */
  aspect-ratio: 1/1;
  position: relative;
}
.container__image__img {
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  box-shadow: 6px 6px 6px 6px var(--shadow);
}
.container__image:nth-of-type(1) {
  left: 16em;
}

.container__image:nth-of-type(2) {
  top: 8rem;
  left: 8em;
  z-index: 1;
}

.container__image:nth-of-type(4) {
  top: 8rem;
  right: 8em;
  z-index: 1;
}

.container__image:nth-of-type(5) {
  right: 16em;
}

@media (max-width: 930px) {
  .container__images {
    display: flex;
    flex-wrap: wrap;
    margin: 0.4em;
  }

  .container__image {
    position: static;
  }
}
